<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 配置自定义日志输出格式 -->
    <!--
    转换词	                        描述	                                    性能
     %c	                在记录事件的起源处输出记录器的名称
     %C	                输出发出日志请求的调用者的完全限定类名	                    差
     %d	                用于输出记录事件的日期，如 %d{yyyy-MM-dd HH:mm:ss.SSS}
     %F / file	        输出发出记录请求的 Java 源文件的文件名	                差
     %L / line	        输出发出记录请求的行号	                                差
     %m / msg / message	输出与日志事件关联的应用程序提供的消息
     %M / method	        输出发出记录请求的方法名称	                         差
     %n	                输出平台相关的行分隔符或字符
     %p / le / level	    输出日志事件的级别
     %r / relative	    输出从应用程序启动到创建日志记录事件所经过的毫秒数
     %t / thread	        输出生成日志事件的线程的名称
     %20c	            如果记录器名称的长度少于 20 个字符，则用空格填充
     %-20c	            如果记录器名称的长度少于 20 个字符，则用空格填充右侧
     %.30c	            如果记录器名称超过 30 个字符，则从头部截断
     %.-30c	            如果记录器名称超过 30 个字符， 则从尾部截断
    -->
    <property name="pattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5p] [%t] [%c#%M-%L] %m%n"/>
    <!-- 配置日志输出目录 -->
    <property name="logDir" value="/Users/qin/logs/logExample/logback-03/"/>

    <!-- 配置控制台输出器 -->
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 配置日志字体颜色，默认黑色（System.out），红色（System.err） -->
        <target>System.err</target>
        <!-- 配置日志输出格式 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 引用自定义日志输出格式 -->
            <pattern>${pattern}</pattern>
            <!-- 设置字符集编码 -->
            <charset>UTF-8</charset>
        </encoder>
        <!--输出的日志级别是:  和后面的root设置的日志级别两者比较，取两者之中高的优先级作为该appender的日志级别-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>


    <!-- 配置异步输出器 -->
    <appender name="asyncAppender" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 引用控制台输出器 -->
        <appender-ref ref="consoleAppender"/>
    </appender>

    <!-- 配置记录器 -->
    <root level="DEBUG">
        <!-- 引用控制台输出器 -->
        <appender-ref ref="asyncAppender"></appender-ref>
    </root>

</configuration>
